<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.nebulaera.view">

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher2"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".activity.ChangeableCharActivity">
        </activity>
        <activity android:name=".activity.BounceCircleActivity">
        </activity>
        <activity android:name=".activity.RotateAndColorChangeActivity">
        </activity>
        <activity android:name=".activity.KeyFrameActivity">
        </activity>
        <activity android:name=".activity.MenuActivity">
        </activity>
        <activity android:name=".activity.WifiStrengthActivity">
        </activity>
        <activity android:name=".activity.LayoutActivity">
        </activity>
        <activity android:name=".activity.FlowActivity">
        </activity>
        <activity android:name=".activity.FingerTrackActivity">
        </activity>
        <activity android:name=".activity.WaterRippleActivity">
        </activity>
    </application>

</manifest>