<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.nebulaera.view">

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/hi"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN"/> -->


            <!-- <category android:name="android.intent.category.LAUNCHER"/> -->
            <!-- </intent-filter> -->
        </activity>
        <activity android:name=".ChangeableCharActivity">
        </activity>
        <activity android:name=".BounceCircleActivity">
        </activity>
        <activity android:name=".RotateAndColorChangeActivity">
        </activity>
        <activity android:name=".KeyFrameActivity">
        </activity>
        <activity android:name=".MenuActivity">
        </activity>
        <activity android:name=".WifiStrengthActivity">
        </activity>
        <activity android:name=".LayoutActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".FlowActivity">
        </activity>
    </application>

</manifest>